<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Personas</title>
</head>

<body>
    <h1>Listado de Personas</h1>
    <br>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Detalle</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        </thead>
        {% if persona_list %}
        <tbody>
            {% for persona in persona_list %}
            <tr>
                <td>{{persona.nombres}}</td>
                <td>{{persona.apePaterno}}</td>
                <td><a href="{% url 'persona_read' persona.run %}">Ver</a></td>
                <td><a href="{% url 'persona_update' persona.run %}">Editar</a></td>
                <td><a href="{% url 'persona_delete' persona.run %}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <tbody>
            <tr>
                <td>
                    <h3>No se encontraron registros</h3>
                </td>
            </tr>
        </tbody>
        {% endif %}
        <tfoot>
            <tr>
                <td>
                    <a href="{% url 'persona_create' %}">Agregar Persona</a>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>