<h1>Detalle Persona</h1>
{% if persona %}
<p>Nombre: {{ persona.nombres }}</p>
<p>Apellido: {{ persona.apePaterno }}</p>
<p>Dirección: {{ persona.direccion }}</p>
<p>Número: {{ persona.numero }}</p>
{% else %}
<p>No se encontraron Registros</p>
{% endif %}
<p><a href="{% url 'personas' %}">Volver</a></p>