<div>
    <h1>Eliminar Persona</h1>
    <form method="POST">
        {% csrf_token %}
        <h4>Esta seguro de eliminar la la Persona llamada: {{persona.nombres}}</h4>
        {{form.as_p}}
        <button type="submit">Eliminar</button>
        <a href="{% url 'personas' %}">Volver</a>
    </form>
</div>